* {
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    height: 15rem;
    border: 3px black solid;
    border-radius: 10px;
    color: white;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    background-color: rgb(132, 0, 255);
}

.title {
    text-align: center;
    margin: auto;
    height: 20%;
}

.desc {
    margin: auto;
    height: 50%;
    width: 90%;
    border: 3px black solid;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.desc > p {
    margin: 10px;
}

.text {
    height: 100%;
    width: 100%;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    border: 3px black solid;
    border-radius: 4px;
}

button {
    color: white;
    background-color: grey;
    border: 1px black solid;
    transition: 0.5s;
}

button:hover {
    background-color: black;
    cursor: pointer;
}
